node_modules
bower_components
release
vendor
phpunit.xml
.idea
uploads
upgrade
cache
plugins

# Project Files
dist
backstop_data

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.vscode/launch.json
tasks.json

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
/debug.log

# Default WordPress themes
themes/twenty*

# PHPUnit cache
.phpunit.result.cache

# Project specific ignores
themes/10up-block-theme/coverage
themes/10up-block-theme/coverage-report
themes/10up-block-theme/.phpunit.cache/test-results
themes/10up-block-theme/.phpunit.result.cache
