/*
 * This file is used to override the styling of the block editor frame.
 * It is enqueued in the editor outside of the editor canvas iframe.
 */

/*
 * Small editor blocks like the footer social nav are hard to click.
 * Setting a min-height so that elements can be selected to edit.
 * Prior to this, scrollbars overlapped small elements.
 */

.is-root-container {
	min-height: 90dvh;
}

.block-editor-iframe__container {
	min-height: 70px;
}

/* Optional: hides any overflow from the background */
.wp-block-column {
	overflow: hidden;
	position: relative;
}

/* Make the background image fill the entire parent */
.ftimageheader__background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;

	/* Behind the content */
}

.ftimageheader__background img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

/* Float the content on top of the background */
.ftimage_body {
	color: var(--wp--preset--color--white, #fff);
	padding: 2rem;
	position: relative;
	z-index: 1;
}
